.outer{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outerPadding{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  height: 100%;
}

.chunk{
  padding-bottom: 20px;
}

.title{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.15;
  margin: 12px 0;
  text-align: center;
}

.button{
  text-align:  center ;
  display:  inline-block;
  min-width: 0;
  text-align:  center ;
  border-radius: 36px;
  color:  white ;
  padding:  14px 16px ;
  cursor:  pointer ;
  font-weight: 600;
  font-size: 16px;
  background-color: blue;
}

.header, .footer, .main{
  padding: 12px 0;
}

.headerText{
  font-size: 13px;
  font-weight: 600;
  color: #111;
  line-height: 1.3;
}

.headerAction{
  font-size: 13px;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0,0,0,.05);
  padding: 8px 12px;
  border-radius: 32px;
  color: rgba(0,0,0,.9)
}
.headerAction img{
  margin-right: 4px;
  width: 15px;
  height: 15px;
  opacity: .9;
}

.headerIcon{
  background: blue;
  background-image: url('/brandon-28.png');
  background-size: cover;
  border-radius: 28px;
  height: 28px;
  width: 28px;
  margin-right: 7px;
  box-shadow: 0 0 0 .5px rgba(0,0,0,.75);
  box-sizing: content-box;
}

.footerText{
  font-size: 13px;
  line-height: 1.3;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}

.clickable{
  cursor: pointer;
}

@media (min-width: 600px) {
  .title{
    font-size: 56px;
    line-height: 1.1;
  }

  .button{
    font-size: 18px;
    padding: 16px 20px;
    line-height: 1;
  }

  .headerText{
    font-size: 14px;
    line-height: 1.2;
  }

  .headerAction{
    font-size: 15px;
    line-height: 1.2;
  }

  .headerAction img{
    width: 18px;
    height: 18px;
  }

  .headerIcon{
    border-radius: 32px;
    height: 32px;
    width: 32px;
    margin-right: 8px;
    background-image: url('/brandon-32.png');
  }

  .footerText{
    font-size: 15px;
    line-height: 1.2;
  }

  .outerPadding{
    padding: 0 16px;
  }

  .header, .footer, .main{
    padding: 16px 0;
  }

}

